$font: "Poppins", sans-serif;
$font-w1: 400;
$font-w2: 500;
$font-w3: 600;
$font-w4: 700;
$font-w5: 800;
$font-w6: 900;

$color-1: #171717;
$color-2: #8B786D;
$color-3: darken($color-2, 10%);
$color-4: lighten($color-2, 20%);