@mixin shared-font-style
{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-display: swap;
}

@font-face
{
    font-weight: 300;
    src: url("../../assets/font/Poppins-Light.ttf") format("woff2");
    @include shared-font-style;
}

@font-face
{
    font-weight: 400;
    src: url("../../assets/font/Poppins-Regular.ttf") format("woff2");
    @include shared-font-style;
}

@font-face
{
    font-weight: 500;
    src: url("../../assets/font/Poppins-Medium.ttf") format("woff2");
    @include shared-font-style;
}

@font-face
{
    font-weight: 600;
    src: url("../../assets/font/Poppins-SemiBold.ttf") format("woff2");
    @include shared-font-style;
}

@font-face
{
    font-weight: 700;
    src: url("../../assets/font/Poppins-Bold.ttf") format("woff2");
    @include shared-font-style;
}

@font-face
{
    font-weight: 800;
    src: url("../../assets/font/Poppins-ExtraBold.ttf") format("woff2");
    @include shared-font-style;
}

@font-face
{
    font-weight: 900;
    src: url("../../assets/font/Poppins-Black.ttf") format("woff2");
    @include shared-font-style;
}